* {
  box-sizing: border-box;
} 
html, body{
  margin: 0;
  padding: 0;
} 
body{
  font-family: 'Roboto', sans-serif;
}
.navbar {
  padding-top: .75rem;
  padding-bottom: .75rem;
  font-size: 1rem;
  background-color: #DDDDDD;
  box-shadow: inset 0 -2px 0 rgba(0, 0, 0, .1);
}
.navbar-toggler {
  margin: 0.5rem
}
.sidebar {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  z-index: 100; /* Behind the navbar */
  padding: 0;
  box-shadow: inset -1px 0 0 rgba(0, 0, 0, .1);
  background-color: #DDDDDD;
  text-align: center;
}
#navHead {
  font-family: 'Roboto Slab', serif;
  font-weight: 700;
  font-size: 2rem;
  color: #2D2E2F;
  text-transform: uppercase;
}
.sidebar-sticky {
  position: -webkit-sticky;
  position: sticky;
  top: 48px; /* Height of navbar */
  height: calc(100vh - 48px);
  padding-top: .5rem;
  overflow-x: hidden;
  overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
}
.nav-item{
  height: 6rem;
  margin: 0.5rem;
  padding: 1.6rem;
  border-radius: 35px;
}
.sidebar .nav-link {
  font-size: 1.1rem;
  color: #fff !important;
}
.sidebar-heading {
  font-size: .75rem;
  text-transform: uppercase;
}
main{
  background-color: #fff;
}
#alligator{
  max-width: 40%;
  height: auto;
}
/* grid container */
.dashboard {
  background-color: #DDDDDD;
  padding: 1rem;
  display: grid;
  grid-template-columns: repeat(9, 1fr);
  grid-template-rows: auto;
}
/* grid items */
#logo {
  grid-column: span 9;
  padding: 2rem;
  max-width: 100%;
  display: block;
}
#florida{
  grid-column: span 7;
  margin: .5rem;
  padding: 1rem;
  height: auto;
  background-color: #fff;
  border-radius: 20px;
}
#virus1{
  grid-column: span 2;
  margin: .5rem;
}
#virus2{
  grid-column: span 2;
  margin: .5rem;
}
#alachua{
  grid-column: span 7;
  margin: .5rem;
  margin-bottom: 1rem;
  padding: 1rem;
  background-color: #fff;
  border-radius: 20px;
}
#colleges{
  grid-column: span 6;
  margin: .5rem;
  padding: 1rem;
  background-color: #fff;
  border-radius: 20px;
}
#mask{
  grid-column: span 3;
}
h1{
  grid-column: span 9;
  font-size: 1.5rem;
  padding: .5rem;
  justify-self: center;
}
#AlachuaInfo{
  margin: .5rem;
  grid-column: span 7;
  padding-left: 15rem;
}
#vapeInfo{
  margin: .5rem;
  grid-column: span 7;
  padding-left: 15rem;
}
#backInfo{ 
  margin: .5rem;
  grid-column: span 7;
  padding-left: 15rem;
}
#spreadInfo{
  margin: .5rem;
  grid-column: span 7;
  padding-left: 15rem;
}
footer{
  grid-column: span 9;
}
/* end grid items */
#Layer_1{
  height: 8rem;
}
#Layer_1:hover{
  opacity: 70%;
}
figcaption{
  color: #333333 !important;
}
footer {
  padding: 2rem;
  max-width: 100%;
  height: 12rem;
  display: block;
  text-align: left;
}
#alligatorfoot{
    width: 20%;
    height: auto;
}
.credits{
    font-size: 1rem;
}
a:link{
   color: #203354;
   text-decoration: none;
}
a:visited{
    color: #203354;
    text-decoration: none;
}
a:hover{
    color: #203354;
    text-decoration: underline;
}

/* start media queries */
@media screen and (max-width: 1250px){
    /* grid items */
  #logo {
    grid-column: span 9;
  }
  #virus1{
    display: none;
  }
  #florida{
    grid-column: span 9;
  }
  #virus2{
    display: none;
  }
  #alachua{
    grid-column: span 9;
  }
  #colleges{
    grid-column: span 9;
  }
  #mask{
    grid-column: span 5;
  }
  h1{
    font-size: 1.2rem;
  }
  #AlachuaInfo{
    grid-column: span 8;
    padding-left: 0;
  }
  #vapeInfo{
    grid-column: span 8;
    padding-left: 0;
  }
  #backInfo{
    grid-column: span 8;
    padding-left: 0;
  }
  #spreadInfo{
    grid-column: span 8;
    padding-left: 0;
  }
  footer{
    grid-column: span 9;
  }
  /* end grid items */
}
@media screen and (max-width: 991px){
  #alligatorfoot{
    width: 40%;
  }
}
@media screen and (max-width: 767px){
  #alligator{
      max-width: 80%;
  }
  #pageName{
    font-size: 2rem;
  }
  .vertical {
    width: 90%;
  }
  .credits{
      font-size: 0.75rem;
  }
}
@media screen and (max-width: 550px){
  #alligator{
    max-width: 100%;
  }
  #alligatorfoot{
    width: 80%;
  }
}